<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LoginTest" verbose="5">

<parameter name="OS" value="Windows"/>
<parameter name="browser" value="Chrome"/>

  <test name="LoginTest">
   <classes>
     <class name="PDF_Report.LoginTest"/>
    </classes>
  </test>
</suite>